* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-ms-track {
  width: 100%;
  cursor: pointer;

  background: transparent;
  border-color: transparent;
  color: transparent;
}

body {
  overflow: hidden;

  display: grid;
  place-content: center;

  height: 100vh;

  font-family: 'Roboto', sans-serif;
  text-align: center;

  --font-color-light: #323238;

  --button-bg: #e1e1e6;
  --button-active-bg: #02799d;

  transition: 700ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body.dark-theme {
  background: #121214;

  --font-color-light: white;

  --button-bg: #29292e;
  --button-active-bg: #02799d;
}

button {
  background: none;
  border: none;

  cursor: pointer;

  transition: 200ms;
}

button:hover {
  transform: scale(1.1);
}

/* MAIN */
.toggleThemeToDark,
.toggleThemeToLight {
  display: grid;
  place-content: center;

  position: absolute;
  top: 6rem;
  right: 6rem;
}

body.dark-theme .toggleThemeToDark,
.toggleThemeToLight {
  display: none;
}

.toggleThemeToDark,
body.dark-theme .toggleThemeToLight {
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.2rem;
}

.left-side h1 {
  display: flex;
  justify-content: center;

  font-size: 10rem;
  font-weight: 300;

  color: var(--font-color-light);
}

.left-side .controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-side .controls svg path {
  fill: var(--font-color-light);
}

#sounds {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'tree rain' 'cafeteria fire';
  gap: 3.2rem;
}

#sounds button {
  max-width: 16.8rem;

  background: var(--button-bg);

  padding: 4rem;

  border-radius: 2.4rem;
}

#sounds button svg path {
  fill: var(--font-color-light);
}

#sounds button.active {
  background: var(--button-active-bg);
}

#sounds button.active svg path {
  fill: white;
}

#sounds button#tree {
  grid-area: tree;
}

#sounds button#rain {
  grid-area: rain;
}

#sounds button#cafeteria {
  grid-area: cafeteria;
}

#sounds button#fire {
  grid-area: fire;
}

#sounds button .volume {
  width: 100%;
  margin-top: 3.2rem;
}

#sounds button.active .volume::-webkit-slider-runnable-track,
#sounds button.active .volume::-webkit-slider-thumb {
  background: white;
}

#sounds button .volume::-webkit-slider-thumb {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  background: var(--font-color-light);
  margin-top: -0.7rem;
}

#sounds button .volume::-webkit-slider-runnable-track {
  height: 0.4rem;
  cursor: pointer;
  background: var(--font-color-light);
  border-radius: 0.5rem;
}

/* RESPONSIVE */

@media (min-width: 730px) {
  main {
    flex-direction: row;
  }
}
